<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Citas Form</title>
</head>

<body>
<h1>Citas Form</h1>
    {{ dump(citas) }}
<form{{ form_attributes }}>
<div class="form-date">
  {{ form.field_date }}
</div>
<div class="form-time">
  {{ form.field_time }}
</div>
<div class="form-comment">
  {{ form.field_comment }}
</div>
  {{ form.actions.submit }}

</form>

</body>
</html>
