<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Citas Form</title>
</head>
<body>
<form{{ form_attributes }}>
<div class="form-date">
  {{ form.date }}
</div>
<div class="form-time">
  {{ form.time }}
</div>
<div class="form-comment">
  {{ form.comment }}
</div>
  {{ form.actions.submit }}

</form>

</body>
</html>
