{# gestion-citas.html.twig #}
<div class="view-content gin-layer-wrapper gestion-citas-wrapper">
  <div class="gin-table-scroll-wrapper">
    <table class="views-table views-view-table cols-5 responsive-enabled sticky-enabled">
      <thead class="sticky-header">
        <tr>
          {# añadimos el campo select #}
          <th>{{ 'Solicitante'|t }}</th>
          <th>{{ 'Enlace'|t }}</th>
        </tr>
      </thead>
      <tbody>
{% for cita in citas %}
  <tr>
    <td>{{ cita.title.value }}</td>
    {# añadimos el enalce a la cita con el nombre 'ver cita' en el idioma catalan #}
    <td><a href="{{ path('entity.node.canonical', {'node': cita.id }) }}">{{ 'Veure cita'|t }}</a></td>


  </tr>
{% endfor %}
</tbody>

    </table>

  </div>
</div>
