<table>
  <thead>
    <tr>
      <th>{{ 'Fecha'|t }}</th>
      <th>{{ 'Título'|t }}</th>
      <th>{{ 'Hora'|t }}</th>
      <th>{{ 'Comentario'|t }}</th>
      <th>{{ 'Modalidad'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for date, citas in citas %}
      {% for cita in citas %}
        <tr>
          <td>{{ date }}</td>
          <td>{{ cita.title }}</td>
          <td>{{ cita.time }}</td>
          <td>{{ cita.comment }}</td>
          <td>{{ cita.modalidad }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
