{# gestion-citas.html.twig #}
<div class="date-picker-wrapper">
  <label for="date-picker">{{ 'Seleccionar fecha'|t }}</label>
  <input type="date" id="date-picker">
</div>
<div class="gestion-citas-wrapper">
  <table>
    <thead>
      <tr>
        <th>{{ 'Hora'|t }}</th>
        <th>{{ 'Título'|t }}</th>
        <th>{{ 'Tipo de cita'|t }}</th>
        <th>{{ 'Comentario'|t }}</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
