{# gestion-citas.html.twig #}
<div class="gestion-citas-wrapper">
  <table>
    <thead>
      <tr>
        <th>{{ 'Hora'|t }}</th>
        <th>{{ 'Título'|t }}</th>
        <th>{{ 'Tipo de cita'|t }}</th>
        <th>{{ 'Comentario'|t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row.field_time }}</td>
          <td>{{ row.field_title }}</td>
          <td> no configurado </td>
          <td>{{ row.field_comment }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
