{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
        <div>
            <a href="mailto:{{ author_email }}" class="button button--primary js-form-submit form-submit" style="margin-right: 10px;">{{ 'Enviar email'|t }}</a>
            <a href="/node/{{ node.nid.value }}/delete" class="button button--secondary js-form-submit form-submit" style="margin-right: 10px;">{{ 'Eliminar cita'|t }}</a>
        </div>
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        <span{{ author_attributes }}>
            <div class="layout-row clearfix">
                <div class="layout-column layout-column--half">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">{{ 'Datos solicitante'|t }}</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Acreedor'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_acre }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Nombre'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_name }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'CIF'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_cif_empresa }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Teléfono'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_telefono }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Correo electrónico'|t }}</dt>
                                    <dd class="admin-item__description"><a href="mailto:{{ author_email}}">{{ author_email }}</a></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="layout-column layout-column--half">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">{{ 'Cita'|t }}</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Día'|t }}</dt>
                                    <dd class="admin-item__description">{{ node.field_date.value | date('d/m/Y') }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Hora'|t }}</dt>
                                    <dd class="admin-item__description">{{ node.field_time.value | date('H:i') }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Modalidad de la cita'|t }}</dt>
                                    <dd class="admin-item__description">{% if node.field_modalidad.value %} Online {% else %} Presencial {% endif %}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Comentario'|t }}</dt>
                                    <dd class="admin-item__description">{{ node.field_comment.value | raw }}</dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="layout-column" style="width: 100%;">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">{{ 'Adjuntos'|t }}</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Carta acreditativa Uva DO CAVA o DO CAT'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file|length > 0 %}
                                            {% set file_item = node.field_file.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_verify_file')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Cuaderno de campo'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file2|length > 0 %}
                                            {% set file_item = node.field_file2.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_verify_file2')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Certificado CCPAE'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file3|length > 0 %}
                                            {% set file_item = node.field_file3.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_verify_file3')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'RVC'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file4|length > 0 %}
                                            {% set file_item = node.field_file4.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_verify_file4')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Otros documentos'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file5|length > 0 %}
                                            {% set file_item = node.field_file5.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_verify_file5')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </span>
        {{ metadata }}
      </div>
    {% endif %}
  </header>
  <div{{ content_attributes.addClass('node__content') }}>


  </div>
  <div id="popupDocument" style="display: none;">
    <div style="text-align: right;" class="file-actions">
        <input type="button" class="close-modal" value="x" onclick="closePopup()" />
        <div>
            <span id="documentName"></span>
        </div>
        <div style="text-align:right;">
            <input type="button" class="button button--primary js-form-submit form-submit" value="Validar" id="validateDocument" />
            <input type="button" class="button button--secondary js-form-submit form-submit" value="Rechazar" id="rejectDocument" />
        </div>
    </div>
  </div>
</article>


