{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        <span{{ author_attributes }}>
            <div class="layout-row clearfix">
                <div class="layout-column layout-column--half">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">{{ 'Datos solicitante'|t }}</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Acreedor'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_acre }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Nombre'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_name }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'CIF'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_cif_empresa }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Teléfono'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_telefono }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Correo electrónico'|t }}</dt>
                                    <dd class="admin-item__description">{{ author_email }}</dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="layout-column layout-column--half">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">{{ 'Cita'|t }}</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Día'|t }}</dt>
                                    <dd class="admin-item__description">{{ node.field_date.value | date('d/m/Y') }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Hora'|t }}</dt>
                                    <dd class="admin-item__description">{{ node.field_time.value | date('H:i') }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Vía'|t }}</dt>
                                    <dd class="admin-item__description">{% if node.field_modalidad.value %} Online {% else %} Presencial {% endif %}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Comentario'|t }}</dt>
                                    <dd class="admin-item__description">{{ node.field_comment.value | raw }}</dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="layout-column" style="width: 100%;">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">{{ 'Adjuntos'|t }}</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Carta acreditativa Uva DO CAVA o DO CAT'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file|length > 0 %}
                                            {% set file_item = node.field_file.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_file')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Cuaderno de campo'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file2|length > 0 %}
                                            {% set file_item = node.field_file2.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_file2')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Certificado CCPAE'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file3|length > 0 %}
                                            {% set file_item = node.field_file3.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_file3')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'RVC'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file4|length > 0 %}
                                            {% set file_item = node.field_file4.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_file4')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">{{ 'Otros documentos'|t }}</dt>
                                    <dd class="admin-item__description">
                                        {% if node.field_file5|length > 0 %}
                                            {% set file_item = node.field_file5.0 %}
                                            {% set file_name = file_item.entity.filename.value %}
                                            {% set _file_url = file_url(file_item.entity.uri.value) %}
                                            {% set file_id = file_item.entity.fid.value %}
                                            <a onclick="openPopup('{{ file_name }}', '{{ _file_url }}', {{ node.nid.value }}, 'field_file5')">{{ file_name }}</a>
                                        {% endif %}
                                    </dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </span>
        {{ metadata }}
      </div>
    {% endif %}
  </header>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>
  <div id="popupDocument" style="display: none;">
    <span id="documentName"></span>
    <input type="button" value="Validar" id="validateDocument" />
    <input type="button" value="Rechazar" id="rejectDocument" />
    <input type="button" value="Cerrar popup" onclick="closePopup()" />
  </div>
</article>

<script>

    function openPopup(file_name, file_url, cita_id, file_field_name)
    {
        document.getElementById('documentName').innerHTML = '<a href="' + file_url + '">' + file_name + '</a>';
        document.getElementById('validateDocument').onclick = function() {
            fetch('/admin/gestion-citas/validate-document/' + cita_id + '/' + file_field_name + '/1', {
              method: 'GET',
              headers: {
                'Accept': 'application/json'
              }
            })
            .then(function(response) {
              if (response.ok) {
                return response.json();
              } else {
                alert('error en la llamada Ajax');
              }
            })
            .then(function(data) {
            })
            .catch(function(error) {
              alert('error de conexión');
            });
        };
        document.getElementById('rejectDocument').onclick = function() {
            fetch('/admin/gestion-citas/validate-document/' + cita_id + '/' + file_field_name + '/0', {
              method: 'GET',
              headers: {
                'Accept': 'application/json'
              }
            })
            .then(function(response) {
              if (response.ok) {
                return response.json();
              } else {
                alert('error en la llamada Ajax');
              }
            })
            .then(function(data) {
            })
            .catch(function(error) {
              alert('error de conexión');
            });
        };
        document.getElementById('popupDocument').style.display = 'block';

    }

    function closePopup()
    {
        document.getElementById('documentName').innerHTML = '';
        document.getElementById('popupDocument').style.display = 'none';
    }

</script>
