{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        <span{{ author_attributes }}>
            <div class="layout-row clearfix">
                <div class="layout-column layout-column--half">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">Datos solicitante</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">Acreedor</dt>
                                    <dd class="admin-item__description">{{ author_acre }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">Nombre</dt>
                                    <dd class="admin-item__description">{{ author_name }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">CIF</dt>
                                    <dd class="admin-item__description">{{ author_cif_empresa }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">Teléfono</dt>
                                    <dd class="admin-item__description">{{ author_telefono }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">Correo electrónico</dt>
                                    <dd class="admin-item__description">{{ author_email }}</dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="layout-column layout-column--half">
                    <div class="panel gin-layer-wrapper">
                        <h3 class="panel__title">Cita</h3>
                        <div class="panel__content">
                            <dl class="admin-list--panel admin-list gin-layer-wrapper">
                                <div class="admin-item">
                                    <dt class="admin-item__title">Día</dt>
                                    <dd class="admin-item__description">{{ node.field_date.value | date('d/m/Y') }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">Hora</dt>
                                    <dd class="admin-item__description">{{ node.field_time.value | date('H:i') }}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">Vía</dt>
                                    <dd class="admin-item__description">{% if node.field_modalidad.value %} Online {% else %} Presencial {% endif %}</dt>
                                </div>
                                <div class="admin-item">
                                    <dt class="admin-item__title">Comentario</dt>
                                    <dd class="admin-item__description">{{ node.field_comment.value | raw }}</dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>

        </span>
        {{ metadata }}
      </div>
    {% endif %}
  </header>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>
</article>
