<!-- Appointment -->
<style>
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* Estilizamos el label como si fuera el input */
.inputfile + label {
  color: black;
  background-color: transparent;
  display: inline-block;
  padding: 60px 30px;
  border: dashed 1px black;
  font-family: 'TradeGothicLTStd';
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  width: -webkit-fill-available;
  letter-spacing: 0;
  text-align: center;
  transition:all .2s;
}

/* Cambiamos el aspecto cuando el usuario selecciona un archivo */
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #f8f9f6;
  border: dashed 1px transparent;
  cursor: pointer;
}

</style>
<!-- Computer -->
<section id="appointment" class="nospace nomobile" style="margin-top:1em;">
    <div class="block column full">
        <h1 class="noup">{{ "Documentació i cita de contracte" | t }}</h1>
    </div>
</section>
<section id="attach" class="nospace">
    <div class="block full space-between">
      <div class="block two-thirds column nomobile">
        <h2 style="margin-bottom:1em; margin-top: 2em;" class="noup">{{ "Adjuntar documentació" | t }}</h2>
          <p>{{ "Un cop adjuntada tota la documentació requerida podràs demanar una cita el dia que vulguis per a la signatura del contracte." | t }}</p><br>
          <p style="margin-top:1em;">{{ "Pots pujar la documentació en <b>els formats següents: JPG, PDF, xlsx (Excel)." | t }}</b></p><br>
        <div class="block row space-between nomobile">
          <div class="block row cgap-1">
            <p><svg style="border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c82020" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="#c82020"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            </svg>{{ "Per verificar" | t }}</p>
            <p><svg style="border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2ca500" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="#2ca500"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            </svg>{{ "Verificat" | t }}</p>
          </div>
            <p>{{" *Camps obligatoris" | t }}</p>
        </div>
        <!-- Formulario -->
        <div class="block row full cgap-1 uploads nomobile">
          <div id="file-1" class="block column half right space-between">
            <label>{{ "CARTA ACREDITATIVA RAÏM DO CAVA O DO CAT, O AMBDÓS*" | t }}</label><br>
            <input type="file" id="archivo" class="inputfile" />
            <label for="archivo"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>{{ 'Adjunta o arrossega el fitxer' | t }}</label>
          </div>
          <div id="file-2" class="block column half right space-between">
            <label>{{ "QUADERN DE CAMP*" | t }}</label><br>
            <input type="file" id="archivo" class="inputfile" />
            <label for="archivo"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>{{ 'Adjunta o arrossega el fitxer' | t }}</label>
          </div>
        </div>
        <div class="block row full cgap-1 uploads nomobile">
          <div id="file-3" class="block column half right space-between">
            <label>{{ "CERTIFICAT CCPAE" | t }}</label><br>
            <input type="file" id="archivo" class="inputfile" />
            <label for="archivo"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>{{ 'Adjunta o arrossega el fitxer' | t }}</label>
          </div>
          <div id="file-4" class="block column half right space-between">
            <label>{{ "RVC" | t }}</label><br>
            <input type="file" id="archivo" class="inputfile" />
            <label for="archivo"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>{{ 'Adjunta o arrossega el fitxer' | t }}</label>
          </div>
        </div>  
        <div class="block row full cgap-1 uploads nomobile">
          <div id="file-5" class="block column half right space-between">
            <label>{{ "ALTRES DOCUMENTS" | t }}</label><br>
            <input type="file" id="archivo" class="inputfile" />
            <label for="archivo"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-paperclip" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
          </svg>{{ 'Adjunta o arrossega el fitxer' | t }}</label>
          </div>
        </div>  
        <!-- Formulario -->
        <div class="block column half right space-between">
          </div>
        </div>
        </div>
      <div class="block nomobile third column p-3 space-between" style="background-color:#f8f9f6; max-height:150px; margin-top:5em;margin-left: 2em;">
        <h2 class="noup">{{ "Cita para la firma" | t }}</h2>
          <center><button style="text-align:center;" class="btn primary open-popup" href=""><em class="icon-crest"></em>{{ "Solicitar cita" | t }}</button></center>
      </div>

      <div id="popup" class="overlay" display="none">
        <div class="popup">

        </div>
      </div>
      <!-- Computer -->
    </div>
</section>
