<!-- Appointment -->
<style>
.inputfile {
    height: 160px;
    width: -webkit-fill-available;
    opacity: .2;
    background-color: red;
    z-index: 10;
    transform: translateY(13.44em);
}

/* Estilizamos el label como si fuera el input */
.inputfile + label {
  color: black;
  background-color: transparent;
  display: inline-block;
  padding: 60px 30px;
  border: dashed 1px black;
  font-family: 'TradeGothicLTStd';
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
  width: -webkit-fill-available;
  letter-spacing: 0;
  text-align: center;
  transition:all .2s;
}

/* Cambiamos el aspecto cuando el usuario selecciona un archivo */
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #f8f9f6;
  border: dashed 1px transparent;
  cursor: pointer;
}

</style>
<!-- Computer -->
<section id="appointment" class="nospace nomobile" style="margin-top:1em;">
    <div class="block column full">
        <h1 class="noup">{{ "Documentació i cita de contracte" | t }}</h1>
    </div>
</section>
<section id="attach" class="nospace">
    <div class="block full space-between">
      <div class="block two-thirds column nomobile">
        <h2 style="margin-bottom:1em; margin-top: 2em;" class="noup">{{ "Adjuntar documentació" | t }}</h2>
          <p>{{ "Un cop adjuntada tota la documentació requerida podràs demanar una cita el dia que vulguis per a la signatura del contracte." | t }}</p><br>
          <p style="margin-top:1em;">{{ "Pots pujar la documentació en <b>els formats següents: JPG, PDF, xlsx (Excel)." | t }}</b></p><br>
        <div class="block row middle space-between nomobile">
          <div class="block row cgap-1">
            <p><svg style="border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c82020" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="#c82020"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            </svg>{{ "Per verificar" | t }}</p>
            <p><svg style="border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2ca500" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="#2ca500"/>
            <rect x="4" y="4" width="16" height="16" rx="2" />
            </svg>{{ "Verificat" | t }}</p>
          </div>
            <p>{{" *Camps obligatoris" | t }}</p>
        </div>
        <!-- Formulario -->
        <div style="margin-top:3em;"class="full cgap-1 uploads nomobile">


        {% for field, files_info in form['#cita_info']['files_info'] %}
          <div class="file-field">
            {% for file_info in files_info %}
              <div class="file-info">
                {% if file_info.filename %}
                  <p> {{ file_info.filename }}
                  {#si el estado es verificado le añadimos algo y si no lo esta le añadimos otra cosa #}
                  {% if file_info.status == 'Validado' %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checks" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2CA500" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M7 12l5 5l10 -10" />
                      <path d="M2 12l5 5m5 -5l5 -5" />
                    </svg>

                  {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-progress-check" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#C82020" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" />
                      <path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" />
                      <path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" />
                      <path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" />
                      <path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" />
                      <path d="M9 12l2 2l4 -4" />
                    </svg>
                  {% endif %}
                  </p>
                {% else %}

                {% endif %}

              </div>
            {% endfor %}
          </div>
        {% endfor %}




          {{ form }}

        <!-- Formulario -->
        <div class="block column half right space-between">
          </div>
        </div>
        </div>
      <div id="block--cita-info" class="block nomobile third column p-3 space-between" style="background-color:#f8f9f6; align-self: flex-start; margin-top:5em;margin-left: 2em;">
        <h2 class="noup">{{ "Cita per a la signatura" | t }}</h2>
        {# Revisa si la información de la cita está presente. #}
        {% if form['#cita_info'] is defined %}
          {# Crea un div personalizado con la información de la cita. #}
          <div class="app-data">
          {# si cita_info date no es null entonces renderizamos la fecha de la cita con la fecha formateada #}
            {% if form['#cita_info']['date'] is not null %}
              <p>{{ 'La cita és el' | t }} <b>{{ form['#cita_info']['date']|date('d/m/Y') }}</b>.</p>
            {% endif %}


            {# si cita_info time no es null entonces renderizamos la hora de la cita #}
            {% if form['#cita_info']['time'] is not null %}
              <p>{{ 'Tens una cita el' | t }} <b>{{ form['#cita_info']['time'] }}</b>.</p>
            {% else %}
              <p>{{ 'No tens cap cita programada.' | t }}</p>
            {% endif %}

            {% if form['#cita_info']['type'] == 1 %}
                {% if form['#cita_info']['time'] is not null %}
              <p><b>{{ 'Telefònica' | t }}</b>.</p>
                {% endif %}
            {% else %}
                {% if form['#cita_info']['time'] is not null %}
              <p><b>{{ 'Presencial' | t }}</b>.</p>
                {% endif %}
            {% endif %}
            {# creamos un boton 'x' con una clase btn danger#}

            <p>
            {# creamos un boton llamado modificar cita con la clase btn primary open-mod-popup #}
            {% if form['#cita_info']['time'] is not null %}
              <button style="float:left; width:80%;padding: 1em;" class="btn primary open-mod-popup" href=""><em class="icon-crest"></em>{{ "Modificar cita" | t }}</button>
            {% else %}
              <button style="float:left; width:100%;" class="btn primary open-mod-popup" href=""><em class="icon-crest"></em>{{ "Programar cita" | t }}</button>
            {% endif %}

            {#{% if form['#cita_info']['time'] is not null %}
              <button style="float:right; width:5%;transform: translateY(-4px);" class="btn danger open-del-popup" id="delete-cita" href=""><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#718457" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg></button>
            {% endif %}#}
          </p>
            {# renderizamos un nuevo div con la clase mod-popup con varias opciones dentro. #}
        {% else %}
          {# Renderiza el formulario como de costumbre. #}
          <center><button style="text-align:center;" class="btn primary disabled open-popup" href=""><em class="icon-crest"></em>{{ "Solicitar cita" | t }}</button>
          <button class="btn primary" id="guardar">{{ 'Desa la documentació' | t }}</button></center>
        {% endif %}
        {# creamos un boton para  guardar solo documentos sin pedir cita #}
        </div>
      </div>
      <div id="create-popup" class="overlay block middle center">
        <div class="popup" id="popup">
          <h2 class="noup">{{ "Seleccionar cita per a la signatura" | t }}</h2><br><br>
        </div>
      </div>
      {% if form['#cita_info'] is defined %}

       <div class="overlay block middle center" id="mod-popup">
       <div class="popup" id="mod-popup">
          {# creamos titulo para el popup #}
          <h2>{{ "Modificar la cita para la firma" | t }}</h2>
          {#creamos la descripcion #}
          <p>{{ "Selecciona un nuevo día y hora en la agenda para cambiar la cita actual." | t }}</p>
          {# creamos un boton para cerrar el popup con la clase close-mod-popup #}
          {# creamos un boton para cerrar el popup con la clase close-mod-popup #}
          {#creamos un input tipo radio para seleccionar entre 'presencial' o 'Telefonica' con el id 'type' #}
          {#creamos encabezados con descripcion para todos nuestros inputs #}
          <label style="display: block;">{{ "Selecciona de cita" | t }}</label>
          <input type="radio" id="type" name="type" value="presencial" {% if form['#cita_info']['type'] == 0 %} checked {% endif %}>
          <span style="margin-right: 1em;" for="type">{{ "Presencial" | t }}</span>
          <input type="radio" id="type" name="type" value="telefonica" {% if form['#cita_info']['type'] == 1 %} checked {% endif %}>
          <span style="margin-right: 1em;" for="type">{{ "Telefonica" | t }}</span>

          {# creamos un input tipo date con el id 'date' y con la fecha del contenido seleccionada#}
          <label style="display: block;">{{ "Selecciona un día en la agenda" | t }}</label>
          {# le añadimos el valor de 'field_date' al input date con la fecha que tenemos en la variable form['#cita_info']['date'] #}
          <input type="date" id="date" name="field_date_update" value="{{ form['#cita_info']['date'] }}">
          {# creamos input tipo select donde dentro se podran seleccionar las horas desde las 9 hasta las 17 con intervalos de 30 minutos este select por defecto debe tener seleccionada la hora que tenemos en la variable form['#cita_info']['time'] #}

          <label>{{ "Horas disponibles" | t }}</label>
          {# creamos un select con el valor por defecto de la hora que tenemos en la variable form['#cita_info']['time'] #}
          <select name="field_time_update" id="time-update" data-time="{{ form['#cita_info']['time'] }}">
            <option value="9:00">9:00 ~ 9:30</option>
            <option value="9:30">9:30 ~ 10:00</option>
            <option value="10:00">10:00 ~ 10:30</option>
            <option value="10:30">10:30 ~ 11:00</option>
            <option value="11:00">11:00 ~ 11:30</option>
            <option value="11:30">11:30 ~ 12:00</option>
            <option value="12:00">12:00 ~ 12:30</option>
            <option value="12:30">12:30 ~ 13:00</option>
            <option value="13:00" disabled>13:00 ~ 13:30</option>
            <option value="13:30" disabled>13:30 ~ 14:00</option>
            <option value="14:00">14:00 ~ 14:30</option>
            <option value="14:30">14:30 ~ 15:00</option>
            <option value="15:00">15:00 ~ 15:30</option>
            <option value="15:30">15:30 ~ 16:00</option>
            <option value="16:00">16:00 ~ 16:30</option>
            <option value="16:30">16:30 ~ 17:00</option>
            <option value="17:00">17:00 ~ 17:30</option>
          </select>



          {# por ultimo creamos un textarea sin formato donde pondremos el comentario que tenemos en la variable form['#cita_info']['comment']  #}
          <label>{{ "Comentario" | t }}</label>
          <textarea name="field_comment" id="comment" cols="30" rows="10">{{ form['#cita_info']['comment'] }}</textarea>
          {# hacemos un boton que diga cancelar y otro que diga continuar #}
          <button class="secondary-sub close-mod-popup" href=""><em class="icon-crest"></em>{{ "Cancelar" | t }}</button>
          <button class="btn primary save-mod-popup" href=""><em class="icon-crest"></em>{{ "Continuar" | t }}</button>
          {# creamos un input tipo submit con el id 'submit' #}

          </div>
        </div>
      {% endif %}

      <!-- Computer -->
    </div>
</section>
